
.login-page{
  margin: 0%;
  width: 100%;
  height: 100%;
  background:  rgba(50, 96, 124, 1); /* Border style */
  position : fixed;
}
.border-login{
  width: 82%;
  height: 85%;
  border: 5px solid rgba(255, 255, 255, 1); /* Border style */
  border-radius: 5px; /* Border radius */
  background: #FFFFFF;
  margin-top: 3.5%;
  margin-left:10%;
  box-shadow: 8px 8px 4px 0px rgba(255, 255, 255, 0.3), -8px -8px 4px 0px rgba(255, 255, 255, 0.3);
}

.brand-title{
  width: 10%;
  margin-left:3%;
  margin-top: 1%;
}
.inventaire-vc{
  margin-top: 2%;
  font-family: Roboto;
  font-size: 40px;
  font-weight: 600;
  line-height: 63.28px;
  text-align: center;
  color :#32607C;
}
.login-form{
  margin-top: 5%;
  display: grid !important;
  margin-left: 6%;
  width: 32%;
  height: 20%;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 25.78px;

}

.input-text{
  width: 100%;
  height: 50px;
  margin-bottom: 6%;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.09px;
  color: rgba(112, 111, 111, 1);
  text-indent: 15px;
}

.se-connecter{
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 29.3px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  background: rgba(255, 102, 0, 1);
  height: 50px;
  border-radius: 6px;
}

.login-image{
  margin-top: -150px;
  margin-left: 50%;
}

.microsoft-image{
  width: 10%;
  margin-left:-40px;
  margin-right: 4%;
}
