<h2 class="inventaire">configuration</h2>
<div class="group-button">
  <button class="button-add">
    <p class="add-font">VM non assignée</p>
  </button>
  <button class="button-add">
    <p class="add-font">VM assignée</p>
  </button>
  <button class="button-add">
    <p class="add-font">Référence client</p>
  </button>
</div>
<table class="table-body">
  <tr class="first-champ">
    <th>Selectionner</th>
    <th>VM</th>
    <th>Client</th>
    <th>Ste</th>
    <th>User ID</th>
    <th>Last name</th>
    <th>Delivery</th>
    <th>Référent client</th>
    <th>Email</th>
  </tr>
  <tr class="data-table">
    <td>
      <a class="save"><img  src="assets/img/check.png" width="40"></a>
    </td>
    <td>VM123</td>
    <td>Nom de client</td>
    <td>NDC</td>
    <td>user id</td>
    <td>last name</td>
    <td>Delivery</td>
    <td>Référent client</td>
    <td>Adress mail</td>
  </tr>

</table>
