.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
  background-color: white;
  border-radius: 4px;
}

.custom-day.focused {
  background-color: #e6e6e6;
}

.custom-day.range, .custom-day:hover {
  background-color: orangered;
  color: black;
}

.custom-day.today {
  border: 2px solid #2B3C72;
}

.custom-day.faded {
  background-color: rgba(252, 62, 28, 0.47);
  color: #0138b2;
}
.btn {
  font-weight: bold;
  background-color: #004363;
  color: white;
}
.btn:hover {
  opacity: 0.9;
}
.btn:active {
  transform: scale(0.9);
  background-color: #004363;
  color: white;
}
